@charset 'utf-8';
* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.wrapper {
  width: 1226px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: normal;
}
i,
em {
  font-style: normal;
}
.clear::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
body {
  font-size: 14px "微软雅黑";
}
header > .top-pic {
  display: block;
  width: 100%;
  height: 120px;
  background: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/bb3c06a430689ba2357dd7d1fbfa6bab.jpg?w=5120&h=240);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: auto 120px;
  text-indent: -9999px;
}
header > .top-nav {
  height: 40px;
  width: 100%;
  line-height: 40px;
  background-color: #333;
  font-size: 12px;
  text-align: center;
  color: #b0b0b0;
}
header > .top-nav a {
  color: #b0b0b0;
}
header > .top-nav .top-nav-left {
  float: left;
  height: 40px;
}
header > .top-nav .top-nav-left > a {
  display: inline-block;
}
header > .top-nav .top-nav-left > a:hover {
  color: #fff;
}
header > .top-nav .top-nav-left > span {
  margin: 0.25em;
  color: #424242;
}
header > .top-nav .top-nav-left > .download-app {
  position: relative;
}
header > .top-nav .top-nav-left > .download-app > .pic {
  background-color: #fff;
  position: absolute;
  top: 40px;
  left: -37px;
  width: 124px;
  color: #333;
  font-size: 14px;
  overflow: hidden;
  box-shadow: 0 1px 5px #aaa;
  height: 0px;
  transition: all 0.3s;
}
header > .top-nav .top-nav-left > .download-app > .pic > img {
  display: block;
  width: 90px;
  height: 90px;
  margin: 18px auto 5px;
}
header > .top-nav .top-nav-left > .download-app:hover > .pic {
  z-index: 20;
  height: 153px;
}
header > .top-nav .top-nav-car {
  position: relative;
  float: right;
  width: 120px;
  height: 40px;
  background-color: #424242;
  margin-left: 20px;
}
header > .top-nav .top-nav-car > a {
  display: block;
  color: #fff;
}
header > .top-nav .top-nav-car > .shop {
  position: absolute;
  top: 40px;
  right: 0;
  width: 316px;
  height: 0px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.5s;
}
header > .top-nav .top-nav-car:hover {
  background-color: #fff;
}
header > .top-nav .top-nav-car:hover > a {
  color: #ff6700;
}
header > .top-nav .top-nav-car:hover > .shop {
  z-index: 20;
  height: 100px;
}
header > .top-nav .top-nav-right {
  float: right;
  font-size: 12px;
  height: 40px;
}
header > .top-nav .top-nav-right > a {
  display: inline-block;
}
header > .top-nav .top-nav-right > a:hover {
  color: #fff;
}
header > .top-nav .top-nav-right > span {
  margin: 0.25em;
  color: #424242;
}
header > .bottom-nav {
  height: 100px;
  font-size: 16px;
  position: relative;
}
header > .bottom-nav .bottom-nav-left {
  float: left;
  margin-top: 22px;
}
header > .bottom-nav .bottom-nav-left > a {
  display: block;
  width: 55px;
  height: 55px;
  background-color: #ff6700;
  position: relative;
  overflow: hidden;
}
header > .bottom-nav .bottom-nav-left > a::before,
header > .bottom-nav .bottom-nav-left > a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 55px;
  transition: all 0.2s;
}
header > .bottom-nav .bottom-nav-left > a::before {
  background: url(https://s02.mifile.cn/assets/static/image/mi-logo.png) no-repeat 50% 50%;
}
header > .bottom-nav .bottom-nav-left > a::after {
  background: url(https://s02.mifile.cn/assets/static/image/mi-home.png) no-repeat 50% 50%;
  margin-left: -55px;
}
header > .bottom-nav .bottom-nav-left > a:hover::before {
  margin-left: 55px;
}
header > .bottom-nav .bottom-nav-left > a:hover::after {
  margin-left: 0;
}
header > .bottom-nav .bottom-nav-middle {
  float: left;
  margin-left: 190px;
}
header > .bottom-nav .bottom-nav-middle > a {
  display: inline-block;
  line-height: 100px;
  padding: 0  7px;
  color: #333;
  overflow: hidden;
}
header > .bottom-nav .bottom-nav-middle > a:hover > .box {
  height: 230px;
}
header > .bottom-nav .bottom-nav-middle > a:hover {
  color: #ff6700;
}
header > .bottom-nav .bottom-nav-middle > a > .box {
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  height: 0;
  z-index: 999;
  background-color: #5b7533;
  transition: height 0.5s;
}
header > .bottom-nav .bottom-nav-right {
  float: right;
  line-height: 100px;
}
header > .bottom-nav .bottom-nav-right > form {
  margin-top: 25px;
}
header > .bottom-nav .bottom-nav-right input {
  float: left;
  outline: none;
  border: 1px solid #e0e0e0;
  right: 51px;
  width: 223px;
  height: 48px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 48px;
}
header > .bottom-nav .bottom-nav-right button {
  float: right;
  right: 0;
  width: 52px;
  height: 48px;
  font-size: 24px;
  line-height: 24px;
  background-color: #fff;
  color: #616161;
  border: 1px solid #e0e0e0;
  outline: 0;
}
.banner > .main-nav div {
  height: 460px;
  z-index: 1;
  background-color: black;
}
.banner > .top-item {
  margin-top: 15px;
  margin-bottom: 20px;
}
.banner > .top-item > .wrapper {
  display: flex;
  height: 170px;
}
.banner > .top-item .item-1 {
  width: 234px;
  background-color: #5f5750;
  font-size: 12px;
}
.banner > .top-item .item-1 li {
  float: left;
}
.banner > .top-item .item-1 li > a {
  display: block;
  width: 76px;
  height: 67px;
  text-align: center;
  color: #fff;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.banner > .top-item .item-1 li > a > div {
  margin-top: 18px;
  font-size: 24px;
  margin-bottom: 5px;
}
.banner > .top-item .item-1 li > a:hover {
  opacity: 1;
}
.banner > .top-item .item-2,
.banner > .top-item .item-3,
.banner > .top-item .item-4 {
  width: 316px;
  margin-left: 15px;
}
.banner > .top-item .item-2:hover,
.banner > .top-item .item-3:hover,
.banner > .top-item .item-4:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.banner > .top-item .item-2 > a,
.banner > .top-item .item-3 > a,
.banner > .top-item .item-4 > a {
  display: block;
}
.banner > .top-item .item-2 > a > img,
.banner > .top-item .item-3 > a > img,
.banner > .top-item .item-4 > a > img {
  width: 316px;
  height: 170px;
}
.index-main {
  background-color: #f5f5f5;
}
.index-main > .mian-quickshop h2 {
  float: left;
  height: 58px;
  line-height: 58px;
}
.index-main > .mian-quickshop .select {
  float: right;
  margin-top: 24px;
}
.index-main > .mian-quickshop .select > .left {
  border-right: 0;
}
.index-main > .mian-quickshop .select > span {
  display: inline-block;
  width: 36px;
  height: 24;
  border: 1px solid #e0e0e0;
  text-align: center;
  line-height: 24px;
  color: #b0b0b0;
  cursor: pointer;
}
.index-main > .mian-quickshop .select > span:hover {
  color: #ff6700;
}
.index-main > .mian-quickshop > .timer {
  height: 340px;
  display: flex;
  text-align: center;
}
.index-main > .mian-quickshop > .timer > div {
  margin-left: 14px;
  width: 234px;
  height: 300px;
  padding-top: 39px;
  border-top: 1px solid red;
}
.index-main > .mian-quickshop > .timer > .count {
  margin-left: 0;
  background: #f1eded;
}
.index-main > .mian-quickshop > .timer > .count > div:nth-of-type(1) {
  color: #ef3a3b;
  font-size: 21px;
  padding-top: 15px;
}
.index-main > .mian-quickshop > .timer > .count > div:nth-of-type(2) {
  margin: 25px auto;
}
.index-main > .mian-quickshop > .timer > .count > span {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}
.index-main > .mian-quickshop > .timer > .count > div:nth-of-type(3) {
  margin: 28px auto 0;
  font-size: 24px;
}
.index-main > .mian-quickshop > .timer > .count > div:nth-of-type(3) > span {
  display: inline-block;
  width: 46px;
  height: 46px;
  background: #605751;
  color: #fff;
  line-height: 46px;
}
.index-main > .mian-quickshop > .timer > .product {
  background: #fff;
}
.index-main > .mian-quickshop > .timer > .product > .content {
  display: block;
}
.index-main > .mian-quickshop > .timer > .product > .content > .picture {
  margin: 0 auto 22px;
}
.index-main > .mian-quickshop > .timer > .product > .content > .picture > img {
  width: 160px;
  height: 160px;
  font-size: 0;
}
.index-main > .mian-quickshop > .timer > .product > .content > h3 {
  margin: 0 20px 3px;
  font-size: 14px;
  font-weight: 400;
  color: #212121;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.index-main > .mian-quickshop > .timer > .product > .content > .desc {
  height: 18px;
  margin: 0 20px 12px;
  font-size: 12px;
  color: #b0b0b0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.index-main > .mian-quickshop > .timer > .product > .content > .price {
  color: #ff6700;
}
.index-main > .mian-quickshop > .timer > .product > .content > .price > del {
  color: #b0b0b0;
}
.index-main > .mian-quickshop > .small-banner {
  height: 120px;
  margin: 22px 0;
}
.index-main > .mian-quickshop > .small-banner > a {
  display: block;
}
.index-main > .main-phone > .title {
  height: 58px;
  line-height: 58px;
}
.index-main > .main-phone > .title > h2 {
  float: left;
}
.index-main > .main-phone > .title > .more {
  float: right;
}
.index-main > .main-phone > .title > .more > a {
  font-size: 16px;
  color: #424242;
}
.index-main > .main-phone > .title > .more > a > span {
  font-size: 20px;
}
.index-main > .main-phone > .title > .more > a:hover {
  color: #ff6700;
}
.index-main > .main-phone > .product {
  height: 614px;
  display: flex;
}
.index-main > .main-phone > .product > .left:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
.index-main > .main-phone > .product > .left {
  transition: all 0.5s;
}
.index-main > .main-phone > .product > .left > a {
  display: block;
}
.index-main > .main-phone > .product > .left > a > img {
  width: 234px;
  height: 614px;
}
.index-main > .main-phone > .product > .right > ul {
  display: flex;
  flex-wrap: wrap;
  width: 992px;
}
.index-main > .main-phone > .product > .right > ul > li {
  width: 234px;
  height: 260px;
  margin: 0 0 14px 14px;
  padding: 20px 0;
  text-align: center;
  background-color: #fff;
  transition: all 0.5s;
}
.index-main > .main-phone > .product > .right > ul > li:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
.index-main > .main-phone > .product > .right > ul > li > a {
  display: block;
}
.index-main > .main-phone > .product > .right > ul > li > a > .picture {
  margin: 0 auto 18px;
  font-size: 0;
}
.index-main > .main-phone > .product > .right > ul > li > a > .picture > img {
  width: 160px;
  height: 160px;
}
.index-main > .main-phone > .product > .right > ul > li > a > h3 {
  font-weight: 400;
  color: #333;
  margin: 0 10px 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.index-main > .main-phone > .product > .right > ul > li > a > .desc {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  color: #b0b0b0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.index-main > .main-phone > .product > .right > ul > li > a > .price {
  margin: 0 10px 14px;
  color: #ff6700;
}
.index-main > .main-phone > .small-banner {
  height: 120px;
  margin: 22px 0;
}
.index-main > .main-phone > .small-banner > a {
  display: block;
}
.index-main > .main-appliances > .title,
.index-main > .main-smart > .title,
.index-main > .main-match > .title,
.index-main > .main-acce > .title,
.index-main > .main-rim > .title {
  height: 58px;
  line-height: 58px;
}
.index-main > .main-appliances > .title > h2,
.index-main > .main-smart > .title > h2,
.index-main > .main-match > .title > h2,
.index-main > .main-acce > .title > h2,
.index-main > .main-rim > .title > h2 {
  float: left;
}
.index-main > .main-appliances > .title > .more,
.index-main > .main-smart > .title > .more,
.index-main > .main-match > .title > .more,
.index-main > .main-acce > .title > .more,
.index-main > .main-rim > .title > .more {
  float: right;
}
.index-main > .main-appliances > .title > .more > a,
.index-main > .main-smart > .title > .more > a,
.index-main > .main-match > .title > .more > a,
.index-main > .main-acce > .title > .more > a,
.index-main > .main-rim > .title > .more > a {
  display: inline-block;
  margin: 0 0 0 30px;
  font-size: 16px;
  color: #424242;
}
.index-main > .main-appliances > .title > .more > a:hover,
.index-main > .main-smart > .title > .more > a:hover,
.index-main > .main-match > .title > .more > a:hover,
.index-main > .main-acce > .title > .more > a:hover,
.index-main > .main-rim > .title > .more > a:hover {
  color: #ff6700;
  border-bottom: 1px solid #ff6700;
}
.index-main > .main-appliances > .product,
.index-main > .main-smart > .product,
.index-main > .main-match > .product,
.index-main > .main-acce > .product,
.index-main > .main-rim > .product {
  display: flex;
}
.index-main > .main-appliances > .product > .left > div,
.index-main > .main-smart > .product > .left > div,
.index-main > .main-match > .product > .left > div,
.index-main > .main-acce > .product > .left > div,
.index-main > .main-rim > .product > .left > div {
  width: 234px;
  height: 300px;
  margin-bottom: 14px;
  transition: all 0.5s;
}
.index-main > .main-appliances > .product > .left > div:hover,
.index-main > .main-smart > .product > .left > div:hover,
.index-main > .main-match > .product > .left > div:hover,
.index-main > .main-acce > .product > .left > div:hover,
.index-main > .main-rim > .product > .left > div:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
.index-main > .main-appliances > .product > .left > div > a,
.index-main > .main-smart > .product > .left > div > a,
.index-main > .main-match > .product > .left > div > a,
.index-main > .main-acce > .product > .left > div > a,
.index-main > .main-rim > .product > .left > div > a {
  display: block;
}
.index-main > .main-appliances > .product > .right > ul,
.index-main > .main-smart > .product > .right > ul,
.index-main > .main-match > .product > .right > ul,
.index-main > .main-acce > .product > .right > ul,
.index-main > .main-rim > .product > .right > ul {
  display: flex;
  flex-wrap: wrap;
  width: 992px;
}
.index-main > .main-appliances > .product > .right > ul > li,
.index-main > .main-smart > .product > .right > ul > li,
.index-main > .main-match > .product > .right > ul > li,
.index-main > .main-acce > .product > .right > ul > li,
.index-main > .main-rim > .product > .right > ul > li {
  width: 234px;
  height: 260px;
  padding: 20px 0;
  background-color: #fff;
  margin: 0 0 14px 14px;
  text-align: center;
  transition: all 0.5s;
}
.index-main > .main-appliances > .product > .right > ul > li:hover,
.index-main > .main-smart > .product > .right > ul > li:hover,
.index-main > .main-match > .product > .right > ul > li:hover,
.index-main > .main-acce > .product > .right > ul > li:hover,
.index-main > .main-rim > .product > .right > ul > li:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}
.index-main > .main-appliances > .product > .right > ul > li > a,
.index-main > .main-smart > .product > .right > ul > li > a,
.index-main > .main-match > .product > .right > ul > li > a,
.index-main > .main-acce > .product > .right > ul > li > a,
.index-main > .main-rim > .product > .right > ul > li > a {
  display: block;
}
.index-main > .main-appliances > .product > .right > ul > li > a > .picture,
.index-main > .main-smart > .product > .right > ul > li > a > .picture,
.index-main > .main-match > .product > .right > ul > li > a > .picture,
.index-main > .main-acce > .product > .right > ul > li > a > .picture,
.index-main > .main-rim > .product > .right > ul > li > a > .picture {
  margin: 0 auto 18px;
  font-size: 0;
}
.index-main > .main-appliances > .product > .right > ul > li > a > .picture > img,
.index-main > .main-smart > .product > .right > ul > li > a > .picture > img,
.index-main > .main-match > .product > .right > ul > li > a > .picture > img,
.index-main > .main-acce > .product > .right > ul > li > a > .picture > img,
.index-main > .main-rim > .product > .right > ul > li > a > .picture > img {
  width: 160px;
  height: 160px;
}
.index-main > .main-appliances > .product > .right > ul > li > a > h3,
.index-main > .main-smart > .product > .right > ul > li > a > h3,
.index-main > .main-match > .product > .right > ul > li > a > h3,
.index-main > .main-acce > .product > .right > ul > li > a > h3,
.index-main > .main-rim > .product > .right > ul > li > a > h3 {
  font-weight: 400;
  color: #333;
  margin: 0 10px 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.index-main > .main-appliances > .product > .right > ul > li > a > .desc,
.index-main > .main-smart > .product > .right > ul > li > a > .desc,
.index-main > .main-match > .product > .right > ul > li > a > .desc,
.index-main > .main-acce > .product > .right > ul > li > a > .desc,
.index-main > .main-rim > .product > .right > ul > li > a > .desc {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  color: #b0b0b0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.index-main > .main-appliances > .product > .right > ul > li > a > .price,
.index-main > .main-smart > .product > .right > ul > li > a > .price,
.index-main > .main-match > .product > .right > ul > li > a > .price,
.index-main > .main-acce > .product > .right > ul > li > a > .price,
.index-main > .main-rim > .product > .right > ul > li > a > .price {
  margin: 0 10px 14px;
  color: #ff6700;
}
.index-main > .main-appliances > .small-banner,
.index-main > .main-smart > .small-banner,
.index-main > .main-match > .small-banner,
.index-main > .main-acce > .small-banner,
.index-main > .main-rim > .small-banner {
  height: 120px;
  margin: 22px 0;
}
.index-main > .main-appliances > .small-banner > a,
.index-main > .main-smart > .small-banner > a,
.index-main > .main-match > .small-banner > a,
.index-main > .main-acce > .small-banner > a,
.index-main > .main-rim > .small-banner > a {
  display: block;
}
